<h5>Login</h5>

<div class="mb-3">
  <label for="email" class="form-label">Usuário</label>
  <input
    [(ngModel)]="usuario.nome"
    type="email"
    class="form-control"
    id="email"
    aria-describedby="emailHelp"
  />
</div>

<div class="mb-3">
  <label for="password" class="form-label">Senha</label>
  <input
    [(ngModel)]="usuario.senha"
    type="password"
    class="form-control"
    id="password"
  />
</div>

<!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->

<button type="submit" class="btn btn-primary" (click)="fazerLogin()">
  Login
</button>
