<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input
        type="text"
        class="form-control"
        formControlName="nome"
        id="nome"
        placeholder="Nome"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('nome')"
        msgErro="Nome é obrigatório."
      ></app-campo-control-erro>
    </div>
  </div>

  <div class="mt-3 form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-sm-12">
      <label for="email" class="form-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="nome@email.com"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('email')"
        msgErro="Email é obrigatório."
      ></app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="verificaEmailInvalido()"
        msgErro="Email inválido."
      ></app-campo-control-erro>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 mt-3" [ngClass]="aplicaCssErro('endereco.cep')">
          <label for="cep" class="form-label">CEP</label>
          <input
            type="text"
            class="form-control"
            formControlName="cep"
            id="cep"
            (blur)="consultaCEP()"
          />
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('endereco.cep')"
            msgErro="CEP é obrigatório."
          ></app-campo-control-erro>
        </div>

        <div class="col-md-3 mt-3" [ngClass]="aplicaCssErro('endereco.numero')">
          <label for="numero" class="form-label">Número</label>
          <input
            type="text"
            class="form-control"
            formControlName="numero"
            id="numero"
          /><app-campo-control-erro
            [mostrarErro]="verificaValidTouched('endereco.numero')"
            msgErro="Número é obrigatório."
          ></app-campo-control-erro>
        </div>

        <div class="col-md-6 mt-3">
          <label for="complemento" class="form-label">Complemento</label>
          <input
            type="text"
            class="form-control"
            formControlName="complemento"
            id="complemento"
          />
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro('endereco.rua')">
      <div class="col-sm-12">
        <label for="rua" class="form-label">Rua</label>
      </div>
      <div class="col-sm-12">
        <input
          type="text"
          class="form-control"
          formControlName="rua"
          id="rua"
        />
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.rua')"
          msgErro="Rua é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-5 mt-3" [ngClass]="aplicaCssErro('endereco.bairro')">
          <label for="bairro" class="form-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            formControlName="bairro"
            id="bairro"
          /><app-campo-control-erro
            [mostrarErro]="verificaValidTouched('endereco.bairro')"
            msgErro="Bairro é obrigatório."
          ></app-campo-control-erro>
        </div>

        <div class="col-md-4 mt-3" [ngClass]="aplicaCssErro('endereco.cidade')">
          <label for="cidade" class="form-label">Cidade</label>
          <input
            type="text"
            class="form-control"
            formControlName="cidade"
            id="cidade"
          /><app-campo-control-erro
            [mostrarErro]="verificaValidTouched('endereco.cidade')"
            msgErro="Cidade é obrigatório."
          ></app-campo-control-erro>
        </div>

        <div class="col-md-3 mt-3" [ngClass]="aplicaCssErro('endereco.estado')">
          <label for="estado" class="form-label">Estado</label>
          <select class="form-control" formControlName="estado" id="estado">
            <option
              *ngFor="let estado of estados | async"
              [value]="estado.sigla"
            >
              {{ estado.nome }}
            </option></select
          ><app-campo-control-erro
            [mostrarErro]="verificaValidTouched('endereco.estado')"
            msgErro="Estado é obrigatório."
          ></app-campo-control-erro>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 mt-3" [ngClass]="aplicaCssErro('cargo')">
      <label for="cargo" class="form-label">Cargo</label>
      <select
        class="form-control"
        formControlName="cargo"
        id="cargo"
        [compareWith]="compararCargos"
      >
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">
          {{ cargo.desc }}
        </option>
      </select>
    </div>
  </div>

  <button type="submit" class="m-3 btn btn-primary col-sm-2">Submit</button>
  <button
    type="button"
    class="m-3 btn btn-secondary col-sm-2"
    (click)="resetar()"
  >
    Cancelar
  </button>
  <button
    type="button"
    class="m-3 btn btn-primary col-sm-2"
    (click)="setarCargo()"
  >
    Cargo
  </button>

  <app-form-debug [form]="form"></app-form-debug>
</form>
